{% extends "base.html" %}

{% block sidebar %}
    {% include "partials/navigation_sidebar.html" with active="home" %}
{% endblock %}

{% block content %}
{% load static %}
<div class="max-w-4xl mx-auto">
    <div class="p-4">
        <h1 class="text-6xl font-bold">ArgPuu</h1>

    </div>
    <div class="h-20"></div>
    <div class="flex flex-row h-90">

        <div class="flex flex-col w-1/2">
            <p class="p-4 text-lg">
            ArgPuuga tee kaart sõprade, enda või poliitikute vahelistest vaidlustest!  
            </p>
    

            
        </div>
        <div class="w-full inset-shadow-sm " style="height:400px" id="root-preview"></div>
    </div>



    <div class="flex flex-col justify-between w-full">

            <p class="p-4">
                üleval on näha lihtne argumendikaart, kus väide on: <b>Kõik lumememmed on valged</b>.
                Sellel väitel on kaks poolt ja üks vastuargument 
            </p>
            <p class="p-4">
                Argumenteerimispuu aitab paremini mõista argumentide ülesehitust ja nende omavahelist loogilist seost, samuti muudab keerukamad argumenteerimisstruktuurid lihtsamini mõistetavaks.</p>
            </p>
    </div>

</div>

<script type="module" src="{% static 'preview.js' %}"></script>
{% endblock %}
