{% extends "base.html" %}

{% block sidebar %}
    {% include "partials/navigation_sidebar.html" with active="home" %}
{% endblock %}

{% block content %}
{% load static %}
<div class="max-w-10xl mx-auto">
    <div class="p-4 px-6">
        <h1 class="text-6xl font-bold">ArgPuu</h1>

    </div>
    <div class="h-20"></div>
    <div class="flex flex-row h-90">

        <div class="flex flex-col w-1/2">
            <p class="p-4 text-8xl">
                Visualiseeri <b>ArgPuuga</b> Kõik Enda Vaidlused 
            </p>
    

            
        </div>
        <div class="w-full inset-shadow-sm " style="height:700px" id="root-preview"></div>
    </div>
    
    <div class="h-40 text-4xl p-8 group">
    Juhend 
    <span class="material-symbols-outlined rotate-[290deg] inline-block transition-transform duration-300 transform group-hover:-translate-y-2 group-hover:rotate-[380deg]">
        swipe_up
    </span>
    </div>




    <div class="flex flex-col justify-between w-full h-90">

            <p class="p-4 text-2xl w-3/4">
                Üleval on näha lihtne argumendikaart, kus väide on: <b>Kõik lumememmed on valged</b>.
                Sellel väitel on kaks poolt ja üks vastuargumenti. Kuna kaks pooltargumenti on ühes kastis, siis piisab ühe pooltargumendi ümberlükkamisest, et kogu väide ümber lükata.
            </p>
            <div class="h-20"></div>

            <p class="p-4 text-2xl w-3/4">
                Argumendikaart on ühe väite tõestamiseks või ümberlükkamiseks aga selles võib olla palju teisi alamväiteid.</p>
            <div class="h-10"></div>

            <p class="p-4 text-2xl w-3/4"> <span class="text-white"><b>Valged</b></span> kastikesed on argumendid ning mullid nende ümber on grupid. Kui mulli ümber ei ole siis tegemist on <b>algväitega</b> ehk <b>juurargumendiga</b>.</p>
            <div class="h-10"></div>
        
            <p class="p-4 text-2xl w-3/4"> Kui mull on <span class="text-gray-500"><b>hall</b></span> siis argument on <b>erapooletu</b>, kui on <span class="text-green-500"><b>roheline</b></span> siis on <b>poolt</b> ja kui on  <span class="text-red-500"><b>punane</b></span>  siis on <b>vastu</b>.</p>
            <div class="h-10"></div>

            <p class="p-4 text-2xl w-3/4">Kui mulli sees on mitu argumenti, siis need kõik sõltuvad üksteisest, see tähendab, et kui üks nendest ümber lükata, siis kogu mulli sees olev on kehtetu.</p>
            <div class="h-10"></div>
            
            <p class="p-4 text-2xl w-3/4">
                Argumenteerimispuu aitab paremini mõista argumentide ülesehitust ja nende omavahelist loogilist seost, samuti muudab keerukamad vaidlused lihtsamini mõistetavaks.</p>
            </p>
            <div class="h-30"></div>

    </div>

</div>

<script type="module" src="{% static 'preview.js' %}"></script>
{% endblock %}
