
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Flow in Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div id="root">
    </div>

    <script>
        window.argumentMapsViewUrl = "{% url 'view_user_argument_maps' %}";
        window.argumentMapId = "{{ argument_map.id }}";
        window.argumentMapAuthor = "{{ argument_map.author }}";
        window.argumentMapTitle = "{{ argument_map.title }}"; 
        window.isArgumentMapReadOnly = {{ is_read_only|yesno:"true,false" }};

        
    </script>

    <script type="module" src="{% static 'index.js' %}"></script>
</body>

</html>
